{% extends 'report_card/base.html' %}

{% block title %}Student Report{% endblock %}

{% block content %}
    <!-- Search Form -->
    <div class="container mt-4">
            <form method="get" action="{% url 'search_results' %}" class="form-inline no-print">
            <input class="form-control mr-2" type="text" name="q" placeholder="Search by name" required>
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>

    <!-- Student Report -->
    {% if student %}
    <div class="container mt-4">
        <header class="text-center">
            <h1>  <div class="alert alert-primary" role="alert">
               Report Card
              </div></h1>
            <h2>Name : {{ student.name }}</h2>
            <h4>Class: {{ student.class_name }}<h4>
            <p>Roll Number: {{ student.roll_number }}</p>
        </header>

        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Marks Obtained</th>
                    <th>Total Marks</th>
                    <th>Test Date</th> <!-- Added Test Date column -->
                </tr>
            </thead>
            <tbody>
                {% for mark in marks %}
                <tr>
                    <td>{{ mark.subject }}</td>
                    <td>{{ mark.marks_obtained }}</td>
                    <td>{{ mark.total_marks }}</td>
                    <td>{{ mark.test_date|date:"d M Y" }}</td> <!-- Format Test Date -->
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Print Button -->
        <div class="text-center mt-4 no-print">
            <button class="btn btn-secondary" onclick="window.print()">Print Report</button>
        </div>
    </div>
    {% elif students %}
    <div class="container mt-4">
        <h2>Search Results</h2>
        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Class</th>
                    <th>Roll Number</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.name }}</td>
                    <td>{{ student.class_name }}</td>
                    <td>{{ student.roll_number }}</td>
                    <td><a href="{% url 'student_report' student_pk=student.pk %}" class="btn btn-primary">View Report</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="container mt-4">
        <h2>No results found</h2>
    </div>
    {% endif %}
{% endblock %}